@use './reset';

.app-container {
  padding: 10px;
}

.form-container {
  .el-input {
    width: 200px;
  }
  .el-select {
    width: 200px;
  }
  .el-input.middle-input {
    width: 400px;
  }
  .el-select.middle-select {
    width: 400px;
  }
  .el-input.full-input {
    width: 100%;
  }
  .el-input.full-select {
    width: 100%;
  }
}

.table-container > .el-card__header {
  padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}

.single-line-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
